<!-- row inputfile -->
<tr>
	<td> <!-- celda inputfile height="190" -->
		
		<div id="<%= row_name %>">
		
		<%= render :partial => 'submit_job' %>
		
		</div>
	</td> <!-- fin celda inputfile -->
</tr> <!-- fin row inputfile -->


