<!-- row -->
<tr>
	<td> <!-- celda  -->
		
		<div id="<%= row_name %>">
			
			

			<div id="job_results_div">
				
			</div>
			
      
		  
		</div>
		
	</td> <!-- fin celda -->
</tr> <!-- fin row  -->
