<!-- row -->
<tr>
	<td> <!-- celda  -->
		
		<div id="<%= row_name %>">
			
			<table border="0" cellspacing="5" cellpadding="5">

			<div id="job_results_div">
				
			</div>
			
		</table>
		  
		</div>
		
	</td> <!-- fin celda -->
</tr> <!-- fin row  -->
