<table width="100%" border="0" cellspacing="10" class="inputFile">
			
		  <tr valign="top"> <!-- row tabla inputfile -->
				
				<!-- celda para formulario STAGE-->
		    <td>
					<div class="rounded" id="errorStatusInfoDiv" style="display:none">
							<p>&nbsp;&nbsp;&nbsp;
							<span id="errorStatusInfo"></span>
							</p>
					</div>
					
					<div class="rounded" id="okStatusInfoDiv" style="display:none">
							<p>&nbsp;&nbsp;&nbsp;
							<span id="okStatusInfo"></span>
							</p>
					</div>
					
					
			    <br>
			
					<div class="rounded" id="formsDiv">
						<!-- ================= -->
						<!-- FORMULARIO UPLOAD -->
						<!-- ================= -->
						
						<!-- div para el fileUpload -->
				    <div>
							
							<iframe id="upload_target" name="upload_target" src="#" style="display:none">
							</iframe>
									<div id="stageFormDIV">
											<!-- populate params with command model -->
		                  <%= render :partial => 'stage_form' %>
									</div>
            </div> <!-- fileUploadDIV -->


						<!-- ============== -->
						<!-- FORMULARIO RUN -->
						<!-- ============== -->
						
						<script type="text/javascript" charset="utf-8">
//                     addCap3Option('cap3OptionsTable','Band expansion size','N>10','20','a','11','&#8734;');
//                     addCap3Option('cap3OptionsTable','Base quality cutoff for differences','N>15','20','b','16','&#8734;');
//                     addCap3Option('cap3OptionsTable','Base quality cutoff for clipping','N>5','12','c','6','&#8734;');
//                     addCap3Option('cap3OptionsTable','Max qscore sum at differences ','N>20','200','d','21','&#8734;');
//                     addCap3Option('cap3OptionsTable','Clearance between no. of differences','N>10','30','e','11','&#8734;');
//                     addCap3Option('cap3OptionsTable','Max gap length in any overlap','N>1','20','f','2','&#8734;');
//                     addCap3Option('cap3OptionsTable','Gap penalty factor','N>0','6','g','1','&#8734;');
//                     addCap3Option('cap3OptionsTable','Max overhang percent length','N>2','20','h','3','&#8734;');
//                     addCap3Option('cap3OptionsTable','Match score factor N','N>0','2','m','1','&#8734;');
//                     addCap3Option('cap3OptionsTable','Mismatch score factor','N<0','-5','n','&#8722;&#8734','&#8722;1');
//                     addCap3Option('cap3OptionsTable','Overlap length cutoff','N>20','40','o','21','&#8734;');
//                     addCap3Option('cap3OptionsTable','Overlap percent identity cutoff','N>65','80','p','66','&#8734;');
//                     addCap3Option('cap3OptionsTable','Reverse orientation value','N>=0','1','r','0','&#8734;');
//                     addCap3Option('cap3OptionsTable','Overlap similarity score cutoff','N>400','900','s','401','&#8734;');
//                     addCap3Option('cap3OptionsTable','Max number of word matches','N>30','300','t','31','&#8734;');
//                     addCap3Option('cap3OptionsTable','Min number of constraints for correction','N>0','3','u','1','&#8734;');
//                     addCap3Option('cap3OptionsTable','Min number of constraints for linking','N>0','2','v','1','&#8734;');
//                                              
// //  -w  N  specify file name for clipping information (none)
// //  -x  N  specify prefix string for output file names (cap)
//                     addCap3Option('cap3OptionsTable','Clipping range','N>5','250','y','6','&#8734;');
//                     addCap3Option('cap3OptionsTable','Min no. of good reads at clip pos','N>0','3','z','1','&#8734;');
//
                </script>
				</td> <!-- fin celda formulario upload -->
				
				<!-- inicio celda informacion -->

				<td width="200">
					
					<div id="informationDIV" style="display:none" class="rounded">
						<p><span id="statusInfo"></span></p>
					</div>
					
				</td>


				<!-- fin celda informacion -->
											
		  </tr> <!-- fin row tabla inputfile -->
			
		</table>