<table width="100%" border="0" cellspacing="10" class="inputFile">
			
		  <tr valign="top"> <!-- row tabla inputfile -->
				
				<!-- celda para formulario STAGE-->
		    <td>
					<div class="rounded" id="errorStatusInfoDiv" style="display:none">
							<p>&nbsp;&nbsp;&nbsp;
							<span id="errorStatusInfo"></span>
							</p>
					</div>
					
					<div class="rounded" id="okStatusInfoDiv" style="display:none">
							<p>&nbsp;&nbsp;&nbsp;
							<span id="okStatusInfo"></span>
							</p>
					</div>
					
					
			    <br>
			
					<div class="rounded" id="formsDiv">
						<!-- ================= -->
						<!-- FORMULARIO UPLOAD -->
						<!-- ================= -->
						
						<!-- div para el fileUpload -->
				    <div>
							
							<iframe id="upload_target" name="upload_target" src="#" style="display:none">
							</iframe>
									<div id="stageFormDIV">
											<!-- populate params with command model -->
		                  <%= render :partial => 'stage_form' %>
									</div>
            </div> <!-- fileUploadDIV -->

				</td> <!-- fin celda formulario upload -->
				
				<!-- inicio celda informacion -->

				<td width="200">
					
					<div id="informationDIV" style="display:none" class="rounded">
						<p><span id="statusInfo"></span></p>
					</div>
					
				</td>


				<!-- fin celda informacion -->
											
		  </tr> <!-- fin row tabla inputfile -->
			
		</table>
