<!-- show errors  -->

<!-- tabla de titulo -->
<table width="100%" border="0" cellspacing="20" cellpadding="0" class="rowTitulo1">
	<tr>
		<!-- celda separadora izquierda -->
		<td class="separadorV">
			&nbsp;
		</td><!-- celda separadora -->
		
		<td colspan="2" width="70%">
			<p class="tituloGrande">
				Errors:
				</p><p class="errorFlash">
				<%= flash[:error] %>
			</p>
		</td>
	</tr>
	<tr>
</table><!-- fin tabla titulo -->
